.admin {
    background-color: teal;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    padding: 5rem;
}

.add-category-btn {
    display: flex;
    justify-content: flex-end;
}
