.admin {
    min-height: 100vh;
    padding: 5rem;
}

.add-category-btn {
    display: flex;
    justify-content: flex-end;
}

.add-activity-btn {
    display: flex;
    justify-content: flex-end;
}

.tab-admin {
    padding: 16px 16px 0 16px;
    background-color: #063784;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav-item > button[aria-selected="false"] {
    color: white;
}

.nav-tabs .nav-link.active {
    color: #063784 !important;
}

.category-edit-btn {
    gap: 1rem;
}

@media (max-width: 450px) {
    .admin {
        padding: 0;
    }
}
