.hero {
    background-image: url(/img/bg_1.jpg.webp);
    height: 785px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.hero .container .input-group {
    max-width: 400px;
    height: 64px;
}

.hero-text {
    color: #fff;
}
.hero-text h1 {
    font-weight: bold;
    font-size: 60px;
}

@media (max-width: 450px) {
    .hero .container,
    .hero .container .input-group {
        width: 100%;
        height: 20%;
    }

    .hero-text h1,
    .hero-text {
        font-size: 20px;
        margin-top: 5rem;
    }

    .hero {
        width: 100%;
        height: 246px;
    }
}
