@import "bootstrap-icons/font/bootstrap-icons.css";

.navbar-beg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  background-color: #063784;
  position: relative;
  z-index: 999;
}

.logo-img {
  width: 60px;
  height: 30px;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: cadetblue;
}

.btn-sign {
  justify-content: left;
  margin-left: 30rem;
}

.form-control {
  display: flex;
  width: 500px;
}

.btn-search {
  margin-left: 1rem;
}

.profile-user {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.nav-actions {
  display: flex;
  gap: 1rem;
}

.register-form {
  margin: 40px auto;
  max-width: 600px;
}

.error {
  color: red;
}

.success {
  color: green;
}

.logo-img {
  width: 120px;
  height: 70px;
  padding: 0;
}

.btn-add-activity {
  justify-content: right;
}

/* Mobile Phone */
@media (max-width: 450px) {
  .nav-item {
    font-size: 60%;
  }
  .navbar-beg {
    padding: 0;
  }
  .profile-user {
    margin-top: 0;
    width: 24px;
    height: 24px;
  }
  .sign-in-btn {
    font-size: 50%;
  }
  .btn-profile-user {
    padding: 4px;
  }

  .hide-sx {
    display: none !important;
  }

  .nav-actions {
    display: flex;
    gap: 0.3rem;
  }
}
