@import "bootstrap-icons/font/bootstrap-icons.css";

.navbar-beg {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  background-color: #063784;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: cadetblue;
}

.btn-sign {
  justify-content: left;
  margin-left: 30rem;
}

.form-control {
  display: flex;
  width: 500px;
}

.btn-search {
  margin-left: 1rem;
}

.profile-user {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.nav-actions {
  display: flex;
  gap: 1rem;
}

.register-form {
  margin: 40px auto;
  max-width: 600px;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* Mobile Phone */
@media (max-width: 450px) {
  .nav-item {
    font-size: 60%;
  }
  .navbar-beg {
    gap: 20px;
  }
  .profile-user {
    margin-top: 0;
  }
  .sign-in-btn {
    font-size: 50%;
    width: 70%;
    height: 50%;
    margin-top: 10px;
  }
  .btn-profile-user {
    padding: 4px;
  }
}
